In [1]:
emp_name=['raghu','ramya','kumar','arjun']
emp_age=[32,23,28,29]
emp_exp=[3,4,5,2]

In [2]:
type(emp_name)

list

In [2]:
print(type(emp_name))

<class 'list'>

In [3]:
emp_detail=['raghu','32','3','mtech']

In [4]:
type(emp_detail)

list

In [7]:
emp_name[0:2] #end limit is excluded

['raghu', 'ramya']

In [8]:
emp_name[-3]

'ramya'

In [9]:
emp_name[-2:-4]

[]

In [10]:
emp_name[-3:-4]

[]

In [11]:
emp_name[-1:-4]

[]

In [12]:
emp_name[-4:-1]

['raghu', 'ramya', 'kumar']

In [13]:
emp_name[3]

'arjun'

In [14]:
emp_name[1:3]

['ramya', 'kumar']

In [16]:
emp_name.append('krishna')

In [17]:
emp_name

['raghu', 'ramya', 'kumar', 'arjun', 'krishna']

In [19]:
emp_name_dept2=['raghu','ram','ashwini','shiva']

In [20]:
emp_name.append(emp_name_dept2)

In [21]:
emp_name

['raghu',
 'ramya',
 'kumar',
 'arjun',
 'krishna',
 ['raghu', 'ram', 'ashwini', 'shiva']]

In [22]:
emp_name_dept1=['raghu','ramya','kumar','arjun']

In [23]:
emp_name_dept1.extend(emp_name_dept2)

In [25]:
emp_name_dept1

['raghu', 'ramya', 'kumar', 'arjun', 'raghu', 'ram', 'ashwini', 'shiva']

In [26]:
#emp_name_dept1 + emp_name_dept2 can be added with .extend

In [27]:
emp_name_dept1[0]='raghu-dept1' #used to change the detail in list

In [28]:
emp_name_dept1

['raghu-dept1', 'ramya', 'kumar', 'arjun', 'raghu', 'ram', 'ashwini', 'shiva']

In [29]:
emp_name_dept1[2:5]=['e1','e2','e3']

In [30]:
emp_name_dept1

['raghu-dept1', 'ramya', 'e1', 'e2', 'e3', 'ram', 'ashwini', 'shiva']

In [31]:
emp_name_dept1.append('sathya_team_lead')

In [32]:
emp_name_dept1

['raghu-dept1',
 'ramya',
 'e1',
 'e2',
 'e3',
 'ram',
 'ashwini',
 'shiva',
 'sathya_team_lead']

In [36]:
emp_name_dept1.insert(0,'sathya_team_lead')

In [37]:
emp_name_dept1

['sathya_team_lead',
 'raghu-dept1',
 'ramya',
 'e1',
 'e2',
 'e3',
 'ram',
 'ashwini',
 'shiva',
 'sathya_team_lead']

In [38]:
emp_name_dept1.insert(2,'ranjan')

In [39]:
emp_name_dept1

['sathya_team_lead',
 'raghu-dept1',
 'ranjan',
 'ramya',
 'e1',
 'e2',
 'e3',
 'ram',
 'ashwini',
 'shiva',
 'sathya_team_lead']

In [40]:
emp_name_dept1.remove('e3')# to remove an elemnt type1

In [41]:
emp_name_dept1

['sathya_team_lead',
 'raghu-dept1',
 'ranjan',
 'ramya',
 'e1',
 'e2',
 'ram',
 'ashwini',
 'shiva',
 'sathya_team_lead']

In [43]:
del emp_name_dept1[-1] #del space type2

In [44]:
emp_name_dept1

['sathya_team_lead',
 'raghu-dept1',
 'ranjan',
 'ramya',
 'e1',
 'e2',
 'ram',
 'ashwini',
 'shiva']

In [45]:
emp_name_dept1.pop(5)

'e2'

In [46]:
emp_name_dept1

['sathya_team_lead',
 'raghu-dept1',
 'ranjan',
 'ramya',
 'e1',
 'ram',
 'ashwini',
 'shiva']

In [47]:
emp_name_dept1.sort()

In [48]:
emp_name_dept1

['ashwini',
 'e1',
 'raghu-dept1',
 'ram',
 'ramya',
 'ranjan',
 'sathya_team_lead',
 'shiva']

In [53]:
emp_name_dept1.sort(reverse=True)

In [51]:
emp_age.sort()

In [52]:
emp_age

[23, 28, 29, 32]

In [54]:
emp_name_dept1

['shiva',
 'sathya_team_lead',
 'ranjan',
 'ramya',
 'ram',
 'raghu-dept1',
 'e1',
 'ashwini']

In [55]:
emp_name_dept1[-2]='E1'

In [56]:
emp_name_dept1

['shiva',
 'sathya_team_lead',
 'ranjan',
 'ramya',
 'ram',
 'raghu-dept1',
 'E1',
 'ashwini']

In [57]:
emp_name_dept1.sort()

In [58]:
emp_name_dept1 # capital E is in the first because of ascii series

['E1',
 'ashwini',
 'raghu-dept1',
 'ram',
 'ramya',
 'ranjan',
 'sathya_team_lead',
 'shiva']

In [59]:
emp_name_dept1.reverse()

In [60]:
emp_name_dept1

['shiva',
 'sathya_team_lead',
 'ranjan',
 'ramya',
 'ram',
 'raghu-dept1',
 'ashwini',
 'E1']

In [61]:
emp_name_dept1[::-1] #:: reverse the whole list irrespective of alphabetical order

['E1',
 'ashwini',
 'raghu-dept1',
 'ram',
 'ramya',
 'ranjan',
 'sathya_team_lead',
 'shiva']

In [62]:
#tuple
m1=(96,76,54,86,34) #to declare tuple use ()

In [63]:
type(m1)

tuple

In [65]:
m1[0] #[] is to get the element detail

96

In [67]:
m1[4]=50 #immutable which u cannot change the element or the value defined

TypeError: 'tuple' object does not support item assignment

In [68]:
my_tuple=('rahul','Mtech','chennai',[1,2,3,4,5])

In [69]:
type(my_tuple)

tuple

In [71]:
my_tuple[3].append(7) #you can change the list inside the tuple but tuple is immutable

In [72]:
my_tuple

('rahul', 'Mtech', 'chennai', [1, 2, 3, 4, 5, 7])

In [73]:
my_tup=('India','Pakistan','US','China')

In [74]:
my_tup.sort() #no function works on tuplle except (lenght,count,index)

AttributeError: 'tuple' object has no attribute 'sort'

In [76]:
len(my_tuple)

4

In [77]:
my_tup.count('India')

1

In [80]:
my_tup.index('US')

2

In [81]:
my_tup[2:]

('US', 'China')

In [83]:
my_tup[1:3]

('Pakistan', 'US')

In [84]:
tup3=(45,56,78,23)

In [85]:
max(tup3),min(tup3),sum(tup3) #it is also applicable for list too

(78, 23, 202)

In [91]:
kumar=[67,78,45,67,59]
ramya=[56,84,51,55,60]
surya=[90,89,78,67,56]

In [92]:
sum(kumar)

316

In [98]:
tot=[sum(kumar),sum(ramya),sum(surya)]
tot

[316, 306, 380]

In [99]:
max(tot)

380

In [100]:
tot.index(380)

2

In [101]:
#give grace mark 5 to kumar on all subject
kumar+5

TypeError: can only concatenate list (not "int") to list

In [105]:
kumar[0]+5,kumar[1]+5,kumar[2]+5,kumar[3]+5,kumar[4]+5

(72, 83, 50, 72, 64)

In [106]:
kumar

[67, 78, 45, 67, 59]

In [107]:
for i in kumar:
    print(i+5)

72
83
50
72
64

In [109]:
for n in ramya:
    print(n+10)

66
94
61
65
70

In [110]:
for i in kumar:
    kumar_upd=i+5

In [111]:
kumar_upd

64

In [112]:
kumar_upd=[]
for i in kumar:
    kumar_upd.append(i+5)

In [113]:
kumar_upd

[72, 83, 50, 72, 64]

In [115]:
kumar_upd=[]
for i in kumar:
    print(kumar_upd)
    kumar_upd.append(i+5)
    
kumar_upd

[]
[72]
[72, 83]
[72, 83, 50]
[72, 83, 50, 72]

[72, 83, 50, 72, 64]

In [116]:
stud_name=['kumar','ramya','ashwini','surya']
s1=[67,56,99,78]
s2=[78,89,92,78]
s3=[98,45,99,87]

In [121]:
for i,j,k in zip(s1,s2,s3):
    print('i,j,k--->',i,j,k)

i,j,k---> 67 78 98
i,j,k---> 56 89 45
i,j,k---> 99 92 99
i,j,k---> 78 78 87

In [122]:
for i,j,k in zip(s1,s2,s3):
    print(i+j+k)

243
190
290
243

In [123]:
tot_mark=[]
for i,j,k in zip(s1,s2,s3):
    tot_mark.append((i+j+k))
print(tot_mark)

[243, 190, 290, 243]

In [124]:
max(tot_mark)

290

In [125]:
tot_mark.index(max(tot_mark))

2

In [126]:
stud_name[tot_mark.index(max(tot_mark))]

'ashwini'

In [128]:
print("The Topper is:",stud_name[tot_mark.index(max(tot_mark))])

The Topper is: ashwini

In [129]:
#how many studets scored less than 250 and print their names

In [78]:
cnt=0
for i in tot_mark:
    if i<250:
        print('Student Name:',stud_name[tot_mark.index(i)])
        cnt=cnt+1
print('The total number of student who are scores less than 250 is',cnt)

NameError: name 'tot_mark' is not defined

In [8]:
my_dict={'Rahul':5,'Kumar':2,'Ramya':4,'Harish':3.5}
my_dict

{'Rahul': 5, 'Kumar': 2, 'Ramya': 4, 'Harish': 3.5}

In [9]:
my_dict1={'Rahul':[35,5,70000,'BE'],'Kumar':[28,2,40000,'BSc']}

In [10]:
my_dict1

{'Rahul': [35, 5, 70000, 'BE'], 'Kumar': [28, 2, 40000, 'BSc']}

In [6]:
my_dict[0]

KeyError: 0

In [11]:
my_dict['Rahul']

5

In [12]:
#my_dict2={'EKP000666':['Arun',34,67000,'Adress1'],'EKP00067':[]}
#my_dict['Ekp000666']

In [13]:
my_dict.keys()

dict_keys(['Rahul', 'Kumar', 'Ramya', 'Harish'])

In [14]:
my_dict.values()

dict_values([5, 2, 4, 3.5])

In [15]:

list(my_dict.values())

[5, 2, 4, 3.5]

In [16]:
list(my_dict.keys())

['Rahul', 'Kumar', 'Ramya', 'Harish']

In [17]:
list(my_dict.keys())[0]

'Rahul'

In [18]:
my_dict[list(my_dict.keys())[0]]

5

In [19]:
my_dict[list(my_dict.keys())[1]]

2

In [20]:
my_dict1['Rahul']

[35, 5, 70000, 'BE']

In [21]:
my_dict1

{'Rahul': [35, 5, 70000, 'BE'], 'Kumar': [28, 2, 40000, 'BSc']}

In [22]:
my_dict1['Raghu']=[30,4,50000,'ME']

In [23]:
my_dict1

{'Rahul': [35, 5, 70000, 'BE'],
 'Kumar': [28, 2, 40000, 'BSc'],
 'Raghu': [30, 4, 50000, 'ME']}

In [24]:
new_data={'Raju':[32,4,50000,'BA'],'Ram':[45,10,65000,'Bcom']}

In [25]:
my_dict1.update(new_data)

In [26]:
my_dict1

{'Rahul': [35, 5, 70000, 'BE'],
 'Kumar': [28, 2, 40000, 'BSc'],
 'Raghu': [30, 4, 50000, 'ME'],
 'Raju': [32, 4, 50000, 'BA'],
 'Ram': [45, 10, 65000, 'Bcom']}

In [27]:
my_dict1['Ramya']=[34,5,60000]

In [28]:
my_dict1

{'Rahul': [35, 5, 70000, 'BE'],
 'Kumar': [28, 2, 40000, 'BSc'],
 'Raghu': [30, 4, 50000, 'ME'],
 'Raju': [32, 4, 50000, 'BA'],
 'Ram': [45, 10, 65000, 'Bcom'],
 'Ramya': [34, 5, 60000]}

In [29]:
del my_dict1['Kumar']

In [30]:
my_dict1

{'Rahul': [35, 5, 70000, 'BE'],
 'Raghu': [30, 4, 50000, 'ME'],
 'Raju': [32, 4, 50000, 'BA'],
 'Ram': [45, 10, 65000, 'Bcom'],
 'Ramya': [34, 5, 60000]}

In [36]:
data={'model':['lenovok8','RedmiM8','GalaxyM30','Motox','Oppo'],
      'price':[10,12,18,16,20],
      'Units':[3,4,8,1,2]}
data

{'model': ['lenovok8', 'RedmiM8', 'GalaxyM30', 'Motox', 'Oppo'],
 'price': [10, 12, 18, 16, 20],
 'Units': [3, 4, 8, 1, 2]}

In [40]:
sales=[]
for i,j in zip(data['price'],data['Units']):
    
    sales.append(i*j)
print('sales')
data['sales']=sales
data

sales

{'model': ['lenovok8', 'RedmiM8', 'GalaxyM30', 'Motox', 'Oppo'],
 'price': [10, 12, 18, 16, 20],
 'Units': [3, 4, 8, 1, 2],
 'sales': [30, 48, 144, 16, 40]}

In [42]:
data['Units']

[3, 4, 8, 1, 2]

In [44]:
sal=[i*j for i,j in zip(data['price'],data['Units'])]#list comprehension
sal

[30, 48, 144, 16, 40]

In [46]:
sal=[i*j for i,j in zip(data['price'],data['Units'])if j>2 else 0]
sal

SyntaxError: invalid syntax (<ipython-input-46-fc0f56cb333f>, line 1)

In [47]:
sal=[i*j if j>2 else 0 for i,j in zip(data['price'],data['Units'])] #if else should come before for if else is given
sal

[30, 48, 144, 0, 0]

In [48]:
stri="Hello how are you. I thought you went abroad. Really glad to see you again. Hope we will meet again."

In [49]:
stri

'Hello how are you. I thought you went abroad. Really glad to see you again. Hope we will meet again.'

In [51]:
stri.split('.')   # if (.) given the each sentece get split

['Hello how are you',
 ' I thought you went abroad',
 ' Really glad to see you again',
 ' Hope we will meet again',
 '']

In [52]:
stri.split(' ')    #will split the sentence

['Hello',
 'how',
 'are',
 'you.',
 'I',
 'thought',
 'you',
 'went',
 'abroad.',
 'Really',
 'glad',
 'to',
 'see',
 'you',
 'again.',
 'Hope',
 'we',
 'will',
 'meet',
 'again.']

In [54]:
words=[]
for i in stri.split(' '):
    words.append(i.lower().strip('.'))    #this command strip the dot from sentece where ever the dot present
#words                                    #lower() change all upper case with lower case
counts={}
for word in words:
    if word in counts:
        counts[word]=counts[word]+1
    else:
        counts[word]=1
counts

{'hello': 1,
 'how': 1,
 'are': 1,
 'you': 3,
 'i': 1,
 'thought': 1,
 'went': 1,
 'abroad': 1,
 'really': 1,
 'glad': 1,
 'to': 1,
 'see': 1,
 'again': 2,
 'hope': 1,
 'we': 1,
 'will': 1,
 'meet': 1}

In [55]:
def word_count(stri):                        # use tab to give space for whole command
    words=[]
    for i in stri.split(' '):
        words.append(i.lower().strip('.'))
    #words
    counts={}
    for word in words:
        if word in counts:
            counts[word]=counts[word]+1
        else:
            counts[word]=1
    return counts
#this whole code becomes a program to count word instead of using library creating an own program

In [57]:
word_count('It is really amazing. I really saying this')

{'it': 1, 'is': 1, 'really': 2, 'amazing': 1, 'i': 1, 'saying': 1, 'this': 1}

In [58]:
def arith(a,b):            # def is used to define function or logic
    s=a+b
    d=a-b
    return(s,d)

In [59]:
arith(5,2)

(7, 3)

In [63]:
price=data['price']
Units=data['Units']
price

[10, 12, 18, 16, 20]

In [64]:
Units

[3, 4, 8, 1, 2]

In [65]:
lambda x,y:x*y,price,Units      #lambda is used for many number of element

(<function __main__.<lambda>(x, y)>, [10, 12, 18, 16, 20], [3, 4, 8, 1, 2])

In [66]:
list(map(lambda x,y:x*y,price,Units))           # map is used to computation of elements in list

[30, 48, 144, 16, 40]

In [71]:
# SET is data structure
age1_set={11,12,31,13,32,33,21,23,12}

In [72]:
age1_set

{11, 12, 13, 21, 23, 31, 32, 33}

In [74]:
age2_set={11,34,32,211,12,10,24}

In [75]:
age1_set.isdisjoint(age2_set)

False

In [76]:
{1,2,3}.isdisjoint({5,7,8})       # disjoint is uncommon data between many list of element

True

In [84]:
a={1,2,3}
b={3,4,5,6,7}
c={3,7,2,1}
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7}

In [85]:
#intersection
print(a&b&c)

{3}

In [88]:
#difference
print(a-b)

{1, 2}

In [89]:
print(b-a)

{4, 5, 6, 7}